/* Styling for body on all pages */
body {
	background-image: url(../img/background.jpeg);
	font-family: 'Raleway', sans-serif;
	font-weight: lighter;
	margin-left: 0px;
	margin-right: 0px; 
}

/* style to center contents */
.center-content {
	padding-top: 10%;
	text-align: center;
}

/* styling to quantiphi logo on index.html */
#quantiphi-logo-main {
	width: 20%;
	height: 20%;
}

/* styling to Welecome message on index.html */
#welcome-message {
	margin-top: 0px;
	margin-bottom: 20px;
	font-size: 70px;
}

/* Green quantiphi styled button displayed on many pages */
.green-button {
	color: white;
	text-transform: uppercase;
	background-color: rgb(29, 153, 119);
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 20px;
	padding-left: 20px;
	font-size: 20px;
	box-shadow: 3px 10px rgba(0, 0, 0, 0.2);
	cursor: pointer;
}

/* Add a black background color to the top navigation */
.topnav {
  	background-image: url(../img/background.jpeg);
  	width: 100%;
  	margin-left: 0px;
  	margin-right: 0px;
  	overflow: hidden;
  	border-bottom: 1px solid gray;
  	box-shadow: 0px 5px rgba(0, 0, 0, 0.1);
}

/* Style the links inside the navigation bar */
.topnav a {
  	float: left;
  	color: rgb(255, 0, 0);
  	text-align: center;
  	padding: 14px 16px;
  	text-decoration: none;
  	font-size: 17px;
  	padding-top: 0px;
  	padding-bottom: 0px;
}

/* Style to display quantiphi logo in navigation bar */
.quantiphi-logo-nav {
	float: left;
	height: 30%;
	width: 30%;
}

/* Font size for tutorial question */
#tutorial-question {
	font-size: 50px;
}

/* Styles to display white button on tutorial_question.html */
#white-button {
	color: black;
	background-color: rgb(255, 255, 255);
	margin-left: 30px;
}

/* styles to display department div on  tutorial_question.html */
.department {
	margin-left: 5%;
	margin-right: 5%;
}

/* Setting the width of information displayed on tutorial_question.html */
.info-div {	
	width: 70%;
}

/* Styles for go to next department div */
.department-button {
	position: absolute;
	left: 68%;
	top: 20%;
	text-transform: uppercase;
	display: none;
}

/* styles for got to next department button */
.department-button button {
	background-color: gray;
}

/* Styles to display choose mascot heading */
.choose-mascot {
	font-size: 20px;
	margin-bottom: 0px; 
}

/* Styles to display font inside brackets of choose mascot */
.choose-mascot span {
	font-size: 15px;
	font-weight: 100;
}

/* styles to display mascot image and its text */
.mascots {
	border: 1px solid gray;
	height: 190px;
}

.mascot-image-content {
	margin-left: 4%;
	padding: 1%;
	height: 100%;
	width: 10%;
	text-align: center;
	float: left;
}

.mascot-image-content img{
	height: 70%;
	width: 90%;
	cursor: pointer;
}

.mascot-image-content h6 {
	margin-top: 10px;
	margin-bottom: 0px;
	font-weight: 100;
	font-size: 12px;
}

.mascot-image-content .mascot-description {
	visibility: hidden;
  	width: 120px;
  	background-color: black;
  	color: #fff;
  	text-align: center;
  	padding: 5px 0;
  	border-radius: 6px;

  	position: absolute;
  	z-index: 1;
}

/* Display mascot discription when hovered over it */
.mascot-image-content:hover .mascot-description {
	visibility: visible;
}

/* Styles to display star rating system */
.rating-selection {
	float: left;
	width: 33%;
	font-size: 12px;
}

.star-rating {
	margin-bottom: 20px;
}

.star-rating h2 span {
	font-weight: 100;
}

.fa-star {
	padding-left: 5%;
}

/* When the star is clicked */
.star-checked {
  color: orange;
}

#rating-remark {
	color: red;
	margin-left: 5%;
	text-transform: uppercase;
}

/* Styles to display reasons for selection checkboxes */
.reasons-for-selection label {
	display: block;
	font-size: 20px;
	margin-bottom: 10px;
}

#choosen-mascot {
	color: red;
}

/* Styles to display textarea as reasons for selection */
.more-reasons-for-selection {
	width: 32%;
	float: left;
	font-size: 12px;
	padding-left: 1%;
}

.more-reasons-for-selection textarea {
	background-attachment: local;
    background-image:
        linear-gradient(to right, white 10px, transparent 10px),
        linear-gradient(to left, white 10px, transparent 10px),
        repeating-linear-gradient(white, white 30px, #ccc 30px, #ccc 31px, white 31px);
    line-height: 31px;
    padding: 8px 10px;
    border: none;
    width: 90%;
}

/* Styles to display textarea for suggestions */
.suggestions {
	width: 33%;
	float: right;
	font-size: 12px;
	padding-left: 1%;
}

.suggestions textarea {
	line-height: 31px;
	padding: 8px 10px;
	width: 95%;
}